.App {
	width: 80%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.App > h1 {
	font-size: 1rem;
	font-weight: 500;
	color: var(--text-color);
	opacity: 0.5;
}

.App .resultado {
	display: flex;
	justify-content: space-between;
}

.App .resultado p {
	width: calc(100% - 50px);
	word-break: break-all;
}

.App .resultado .copy {
	width: 50px;
	height: 50px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: none;
	border: none;
	cursor: pointer;
	border-radius: 50%;

	font-size: 1.5em;
	transition: all 0.3s ease-out;
}

.App .resultado .copy:hover {
	background: #fff2;
}

.App .tamanho {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.App .tamanho p {
	width: 20%;
}

.App .tamanho input {
	width: 80%;
	padding-right: 1em;
	text-align: right;
	color: var(--primary-color);
	font-size: 2em;

	background: none;
	border: none;
	outline: none;
}

.App .rangeTamanho {
	width: 100%;
	margin-bottom: 20px;
}

.App .checkInput {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.App .gerarButton {
	width: 100%;
	padding: 0.5em;
	border: none;
	border-radius: 0.5em;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5em;

	background: var(--primary-color);
	color: #232323;

	font-weight: 700;
	font-size: 1.2em;
	cursor: pointer;

	transition: all 0.3s ease-out;
}

.App .strength {
	margin: 20px 0;
	background: #18171f;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.App .strength .strengthInfo {
	display: flex;
	align-items: center;
	gap: 10px;
}

.App .strength .strengthInfo .strengthBar {
	display: flex;
	gap: 5px;
}

.App .strength .strengthInfo .strengthBar span {
	width: 10px;
	height: 20px;
	border: 1px solid #fff;
}

.App .strength .strengthInfo .strengthBar span.active {
	background: var(--stars-color);
}

.modal {
	width: 100%;
	background: #24232b;
	padding: 20px;
}
